{% extends "layout.html" %}

{% block content %}
<section class="header">
  <h1>Thomas Dimnet</h1>
  <p>Learning Python</p>
  <!--I would suggest choosing a different picture here.-->
  <!--Like maybe a hobby photo-->
  <img src="https://cdn.pixabay.com/photo/2020/09/04/12/32/kayak-5543935_1280.jpg" alt="Headshot of myself">
</section>
<section id="about-page">
  <div id="triangle7"></div>
  <div id="triangle8"></div>
  <h2>Who am I?</h2>
  <p>
      Former CTO of SensCritique, I'm currently freelance and I work in particular with OpenClassrooms as a teacher. Having already two Techdegrees with Treehouse, I decided to start this third Techdegree to reinforce my knowledge in Python. 
  </p>
  <p>
    When I'm not in front of my computer (which is quite often), I read.
    I am passionate about learning and I am regularly interested in new learning methods.
    Besides Treehouse, I also train on AWS with ACloudGuru.
  </p>
  <a href="#"><i class="far fa-file"></i>Resume</a>
</section>
{% endblock %}
