{% extends "layout.html" %}

{% block content %}
    <section class="header">
        <h1>Python Developer</h1>
        <p>A Line of Code a Day Keeps the Doctor Away</p>
        <img src="/static/Photo_13_Thomas.jpg" alt="Headshot of myself">
    </section>
    <section id="about">
        <h2>About Me</h2>
        <p>
            Software Engineer | Ex-CTO at SensCritique | Teacher at OpenClassrooms | https://tdimnet.medium.com/ | Learning Python for fun
        </p>
        <div id="triangle1"></div>
        <div id="triangle2"></div>
    </section>
    <section id="skills">
        <i class="fas fa-laptop-code"></i>
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>GitHub</li>
            <li>Visual Studio Code</li>
        </ul>
    </section>
    <section id="projects">
        <div id="triangle3"></div>
        <i class="fas fa-file-code"></i>
        <h2>Projects</h2>
        <div id="project-list">
            {% for project in projects %}
            <div class="a-project">
                <h3>
                    <a href="{{ url_for('project', id=project.id) }}">{{ project.title }}</a>
                </h3>
                <a href="{{ project.github_repo }}" target="_blank" class="github-btn">
                    <i class="fab fa-github"></i>
                    View on GitHub
                </a>
                <p>
                    {{ project.description }}
                </p>
                <p>
                    Skills: {{ project.skills }}
                </p>
            </div>
            {% endfor %}
        </div>
        <div id="triangle4"></div>
    </section>
    <section id="contact">
        <i class="fas fa-paper-plane"></i>
        <h2>Contact Me</h2>
        <p>
            I am always happy to receive new emails and to speak with other developpers. If you want so, I strongly encourage you to send me an e-mail :). 
        </p>
        <p>
            <i class="fas fa-envelope"></i>
            thomas.dimnet@gmail.com
        </p>
    </section>
{% endblock %}
